<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956246889890-0c6l1m61emne2uhcnj7u9q2gdon65r3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956246889890-0c6l1m61emne2uhcnj7u9q2gdon65r3j</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Z-jNJN_yR8vD5e3PSulMyPPvefHwuvw</string>
	<key>GCM_SENDER_ID</key>
	<string>956246889890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ae.youcast</string>
	<key>PROJECT_ID</key>
	<string>youcast-73b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>youcast-73b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956246889890:ios:a86a13fcf0b692c662cefb</string>
	<key>DATABASE_URL</key>
	<string>https://youcast-73b5b.firebaseio.com</string>
</dict>
</plist>